// colors
$text-dark-color: #302e2f;


// fonts
$primary-font-300: 'montserrat_lightregular';
$primary-font-400: 'montserratregular';
$primary-font-500: 'montserrat_mediumregular';
$primary-font-600: 'montserrat_semiboldregular';
$primary-font-800: 'montserrat_extraboldregular';
$primary-font-800: 'montserrat_blackregular';
$handwrite-font-700: 'dancing_scriptbold';
