// colors
$text-dark-color: #302e2f;
$main-color-darker: #d9b22b;
$main-color: #edcb50;
$light-bg: #f7f7f7;
$white: #fff;

// fonts
$primary-font-300: 'montserrat_lightregular';
$primary-font-400: 'montserratregular';
$primary-font-500: 'montserrat_mediumregular';
$primary-font-600: 'montserrat_semiboldregular';
$primary-font-800: 'montserrat_extraboldregular';
$primary-font-900: 'montserrat_blackregular';
$handwritten-font-700: 'dancing_scriptbold';
